.App {
  text-align: center;
}

.itemList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.itemCards {
  height: 400px;
  width: 250px;
  border: 1px solid black;
  margin: 50px;
}

.cardContent {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  height: 125px;
  width: 250px;
  flex-direction: column-reverse;
  align-items: center;
}

.button {
  width: 70%;
}

.enabled {
  color: red;
}

.cartTitle {
  text-align: left;
  margin: 20px;
}
.cartCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.disabled {
  color: black;
}

.cartLists {
  margin: 10px;
  background-color: grey;
  border-radius: 10px;
  border: 0px;
  padding: 2px;
  color: white;
  width: 200px;
  text-align: center;
}

.displayNone {
  color: red;
  display: none;
}

.count {
  margin-left: 20px;
  border-radius: 20px;
  border: 0px;
  padding: 0px 10px;
  background-color: grey;
  color: white;
}
.description {
  background-color: rgb(9, 13, 24);
  color: white;
  padding: 40px;
}

.descTitle {
  font-weight: bold;
  letter-spacing: 10px;
}
